<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23186222847-isu5cihi8bqrelffjolmkogpkjv6vj0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23186222847-isu5cihi8bqrelffjolmkogpkjv6vj0v</string>
	<key>API_KEY</key>
	<string>AIzaSyBqGgkSQdUriy5SMh19wACkxz5BHhjPCXc</string>
	<key>GCM_SENDER_ID</key>
	<string>23186222847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniel.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-5b669</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-5b669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23186222847:ios:0ec84e9256a6879e9d26ca</string>
</dict>
</plist>